<app-book [book]="book" (saveEmiter)="saveBook()"></app-book>
<div class="container">
    <div class="display-6"> 
        <h3> Livros cadastrados</h3>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td> 
                            <button class="btn btn-primary me-2" (click)="updateBook(book)">Alterar</button>
                            <button class="btn btn-danger"(click)="removeBook(book)">Remover</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
